.img-logo{
    object-fit: cover;
    width: 130px;
    height: 80px;
}
/* SLIDE1 */
.slide-1{
background: url("Images/beautiful-young-asian-teen-seller-260nw-2362989449.webp") ;
background-size: cover;
 background-repeat: no-repeat;
}
.slide-2{
    background: url("Images/seo-tips-for-fashion-e-commerce-website.webp") ;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.bouton-acc{
    opacity: 0.6;
}
    /* button scoll */
.carousel-control-prev, .carousel-control-next{
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
}
.image-menu{
    
    object-fit: cover;
}
.taille-petit{
        font-size:18px;
        color: #b1adad;
    }
    .image-menu{
        width: 230px;
    }
.collections .nav-pills  .nav-link{
        background-color:transparent;
        color: #585454;
        font-weight: bold;
    }
    .link-plat{
        border-bottom:2px solid rgb(180, 177, 177) ;
        margin-left: 20px;
    }
    .link-plat:hover{
        border-bottom:2px solid rgb(215, 86, 36) ;   
    }